## Importing Required Modules

In [8]:
from zipfile import ZipFile 
import pandas as pd
import os

## Reading and looking at data from zipfile

In [12]:
os.getcwd()

'C:\\Users\\zahra\\Desktop\\Data Projects\\kaggle\\kaggle_titanic'

In [15]:
file_path = r"data/titanic.zip"

with ZipFile(file_path, 'r') as zip:
    zip.printdir()

File Name                                             Modified             Size
gender_submission.csv                          2019-12-11 02:17:12         3258
test.csv                                       2019-12-11 02:17:12        28629
train.csv                                      2019-12-11 02:17:12        61194

In [16]:
zf = ZipFile(file_path) 
train_df= pd.read_csv(zf.open('train.csv'))
test_df= pd.read_csv(zf.open('test.csv'))

## Explaratory Data Analysis

In [17]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [20]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

About the columns:
1. PassengerId: This should be omitted.
2. Survived: This is the label. It is binary and therefore we have a binary classification.
3. Pclass is the ticket class, it has 3 classes.
4. Age is an intger variable. The passengers range of age was from infant to a 80 year old person. 
5. SibSp is the number of siblings, changing from None to 8.
6. Parch is the #parents/children aboard in titanic. changing from 0 to 6.
7. Fare is the passenger fare, which is float and is varied in the range of 0 and 512.32. 
8. Cabin is a string (categorical) feature, with 687 nulls. We should check this one too see if it is worth using. It is showing the cabin number. Is the nulls/availables mostly related to certain correlations? Is there a correlation? We'll see. 
9. Embark is the port of embarkation, it has three values. We should check if it is useful.

In [28]:

def removeDuplicates(nums):
    """
    :type nums: List[int]
    :rtype: int
    """
    len_ = 1 
    if len(nums) == 0: 
        return 0
    for i in range(1, len(nums)):
        if nums[i] != nums[i-1]:
            nums[len_]=nums[i]
            len_ += 1
            print(nums)
    return len_
    
if __name__ == '__main__':
    nums = [1,1,2,5,6,6,7]
    len_ = removeDuplicates(nums)
#     for i in range(len_):
#         print(nums[i])

[1, 2, 2, 5, 6, 6, 7]
[1, 2, 5, 5, 6, 6, 7]
[1, 2, 5, 6, 6, 6, 7]
[1, 2, 5, 6, 7, 6, 7]

In [22]:
if __name__ == '__main__':
    nums = [1,1,2]
    len_ = removeDuplicates(nums)
    for i in range(len_):
        print(nums[i])

NameError: name 'removeDuplicates' is not defined